* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.header {
    height: 150px;
    width: 100%;
    color: white;
}

.header h1 {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: sans-serif;
}

.header h4 {
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: sans-serif;
}

.section {
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* gap: 10px; */
}

.form_Wrapper {
    height: 470px;
    width: 457px;
}

.formHeading {
    height: 117px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formHeading h2 {
    font-size: 30px;
    font-weight: 50;
    gap: 10px;
}

.formHeading span {
    font-size: 15px;
    font-weight: 50;
    display: flex;
    justify-content: center;
}

.form{
    height: 400px;
    width: 400px;
    
}
.form .name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.form .txtLName {
    height: 35px;
    width: 200px;
    padding: 8px;
    font-size: 11px;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 5px;
    gap: 5px;
}

.form .txtFName {
    height: 35px;
    width: 200px;
    padding: 8px;
    font-size: 11px;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 5px;
}

.form .txtEmail {
    height: 35px;
    width: 400px;
    padding: 8px;
    font-size: 11px;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 5px;
}

.form .txtPhNo {
    height: 35px;
    width: 400px;
    padding: 8px;
    font-size: 11px;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 5px;
}

.form .txtAreaMsg {
    height: 70px;
    width: 400px;
    padding: 8px;
    font-size: 11px;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 5px;
}

.btnSendToLunar {
    height: 42px;
    width: 400px;
    padding: 8px;
    font-size: 11px;
    background-color: rgba(118, 58, 245, 1);
    color: white;
    border-radius: 5px;
}

.image {
    height: 600px;
    width: 400px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width : 480px){
    .header{
        height: 90px;
        width: 100%;

    }
    .header h1{
        height: 5px;
        width: 100%;
        flex-wrap: wrap;
      align-items: center;
        font-size: 30px;
    }
    .header h4{
        align-items: center;
        font-size: 10px;
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
   
.formHeading {
    height: 117px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formHeading h2 {
    font-size: 15px;
    font-weight: 50;
    gap: 10px;
}

.formHeading span {
    font-size: 10px;
    font-weight: 50;
   flex-wrap: wrap;
}
    .section{
        height: 600px;
        width: 100%;
        flex-direction: column;
        gap: 100px;
    }
    .form_Wrapper{
        height: 300px;
        width: 100%;
        gap: 10px;
    }
    .form .name{
        flex-wrap: wrap;
      
    }
    .form .txtLName {
        height: 25px;
        width: 150px;
        padding: 8px;
        font-size: 9px;
        background-color: rgb(37, 37, 37);
        color: white;
        border-radius: 5px;
        gap: 5px;
    }
    
    .form .txtFName {
        height: 25px;
        width: 150px;
        padding: 8px;
        font-size: 9px;
        background-color: rgb(37, 37, 37);
        color: white;
        border-radius: 5px;
    }
    
    .form .txtEmail {
        height: 25px;
        width: 300px;
        padding: 8px;
        font-size: 9px;
        background-color: rgb(37, 37, 37);
        color: white;
        border-radius: 5px;
    }
    
    .form .txtPhNo {
        height: 25px;
        width: 300px;
        padding: 8px;
        font-size: 9px;
        background-color: rgb(37, 37, 37);
        color: white;
        border-radius: 5px;
    }
    
    .form .txtAreaMsg {
        height: 50px;
        width: 300px;
        padding: 8px;
        font-size: 9px;
        background-color: rgb(37, 37, 37);
        color: white;
        border-radius: 5px;
    }
    
    .btnSendToLunar {
        height: 30px;
        width: 300px;
        padding: 8px;
        font-size: 9px;
        background-color: rgba(118, 58, 245, 1);
        color: white;
        border-radius: 5px;
    }
    
    .image{
        height: 400px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    } */


}